html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	background-size: cover;
	background-position: center center;
}

#kader {
	background-color: #2072C3;
	border-radius: 0.3cm;
	position: fixed;
	width: 18cm;
	top: 10%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;				
	left: 0;
	right: 0;
	color: white;
	max-width: 100%;
}

#bord {
	font-family: 'Blue Highway';
	border-radius: 0.15cm;
	border: solid 0.1cm white;
	margin: 0.2cm;
}

#plaatsnaam {
	display:  block;
	font-size: 2cm;
}

#provincie {
	display: block;
	font-size: 1cm;
	background: white;
	color: #2072C3;
}

@media(min-width: 600px) {
	#plaatsnaam {
		font-size: 3cm;
	}

	#provincie {
		font-size: 1.3cm;
	}
}

#credits {
	list-style-type: none;
	padding: 5px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	display: block;
	text-align: center;
	width: 7cm;
	position: fixed;
	bottom: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	border: solid 4px white;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: none;
	background: teal;
}

#credits a {
	text-decoration: none;
	color: white;
	font-size: 12pt;
}

#credits a:hover {
	border-bottom: solid 2px white;
}

#credits li {
	display: inline;
	padding: 0;
	margin: 0;
}